@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  text-align: center;
  background-image: url("../img/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

main {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}
.pokedex {
  width: 100%;
  max-width: 425px;
}
.pokemon_image {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}
.pokemon_data {
  position: absolute;
  font-weight: 600;
  color: rgb(126, 123, 123);
  top: 54.5%;
  right: 27%;
  font-size: clamp(8px, 5vw, 25px);
}
.pokemon_name {
  color: #3a444d;
  text-transform: capitalize;
}
.form {
  position: absolute;
  width: 65%;
  top: 63.5%;
  left: 13.5%;
}
.input_search {
  width: 100%;
  padding: 3.6%;
  outline: none;
  border: 2px solid #333;
  border-radius: 7px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}
.stats {
  position: absolute;
  background-color: green;
  padding: 0.3%;
  border: 2px solid #333;
  border-radius: 7px;
  box-shadow: inset -4px 4px 0 #222;
  width: 30%;
  top: 73%;
  left: 31%;
}
.stats span {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(201, 199, 199);
  display: flex;
  font-size: clamp(8px, 5vw, 1rem);
}
.buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 65%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20px;
}
.button {
  width: 50%;
  padding: 2.7%;
  outline: none;
  border: 2px solid #000;
  border-radius: 7px;
  font-weight: 600;
  color: rgb(201, 199, 199);
  background-color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 rgb(58, 57, 57), -5px 7px 0 #200;
}
.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}
.pikachu_gif {
  position: absolute;
  right: 10%;
  transform: translate(-63%, 20%);
  height: 18%;
}
